@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100%;
  height: 100vh;
  background-image: url("/public/images/new_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.sc-bwzfXH {
  display: inline-block;
  /* width: calc(100% / 6); */
  font-size: 10rem;
}
